<div class="mb-3">
    <label for="category" class="form-label">Select a Category:</label>
    <select id="category" name="listing[Category]" class="form-select" required>
      <option value="Trending">Trending</option>
      <option value="Room">Room</option>
      <option value="Iconic-City">Iconic-City</option>
      <option value="Mountains">Mountains</option>
      <option value="Castles">Castles</option>
      <option value="Swimming-Pools">Swimming-Pools</option>
      <option value="Camping">Camping</option>
      <option value="Farms">Farms</option>
      <option value="Arctic">Arctic</option>
      <option value="Riding">Riding</option>
      <option value="Sports">Sports</option>
      <option value="Technology">Technology</option>
      <option value="Travel">Travel</option>
      <option value="Music">Music</option>
      <option value="Books">Books</option>
      <option value="Art">Art</option>
    </select>
  </div>